---
const Product = ({ id, imageUrl, name, description, price }) => ({
  id,
  imageUrl,
  name,
  description,
  price
});
---

<div class={styles.product}>
  <img src={imageUrl} alt={`Image of ${name}`} class="h-48 w-48 object-cover" />
  <h3>{name}</h3>
  <p>{description}</p>
  <span>{`${price}€`}</span>
  <div>
    <button
      class="snipcart-add-item"
      data-item-id={id}
      data-item-image={imageUrl}
      data-item-name={name}
      data-item-url="/"
      data-item-price={price}
    >
      Add to cart
    </button>
  </div>
</div>
